body {
	margin: 0;
	padding: 20;
	text-align: left;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	background: #FFFFFF;
	<!--background-image: url("OudDametje.png");
	<!--background-repeat: no-repeat;
	<!-- background-position: 70% -70%; 
}

*
{
	margin: 0 auto 0 auto;
	text-align:left;
}
 
html, body 
{
	text-align: center;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

p 
{
	text-align: left;
	margin-bottom: 36px; 
	margin-top: 36px;
}

p.2 
{
	text-align: left;
	margin-bottom: 20px; 
	margin-top: 20px;
}


h1
{
	font-size:65px;
	font-weight:normal;
	padding:50px;
	text-align: center;
}


h2
{
	font-size:26px;
	font-weight:normal;
	padding-left:15px;
	padding-top:35px;
}

a
{
 	color: #008B8B;
}

#main
{
	width:1000px;
	height:auto;
	padding-bottom:20px;
}

#contentColumn
{
	width: 800px;
	text-align: justify;
	line-height: 1.8;
}

#topnav {
  overflow: hidden;
  background-color: #696969;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 800px){
	#topnav a {
	  float: left;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 20px;
	  text-decoration: none;
	  font-size: 36px;
	}
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #008B8B;
  color: white;
}

#footer
{
  overflow: hidden;
  background-color: #696969;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 18px;
}

